# Ignora arquivos de variáveis de ambiente com senhas e chaves de API
.env
.env.local
*.env.development.local

logs/
*.log

config/
dags/__pycache__/


# Ocultar a pasta do GitHub Runner local
actions-runner/
action-runner/
_work/

# Bloquear o arquivo de credenciais locais
.env